.header{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    height: 80px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-logo a{
    padding-left: 40px;
    color: white;
    text-decoration: none;
}

.header-list ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    align-items: center;
    height: 60%;
    font-size: 17px;
    font-weight: bold;
}

.header-list ul a {
    color: white;
    text-decoration: none;
}

.list:hover{
    text-decoration: underline;
    color: royalblue;
    transition: 0.2s;
}